
<div>
  {{> beerpartial }}
</div>
<h4>Food Pairing</h4>
<ul>
  <li>{{food_pairing.[0]}}</li>
  <li>{{food_pairing.[1]}}</li>
  <li>{{food_pairing.[2]}}</li>
</ul>
<p>Brewers Tips:{{brewers_tips}}</p>
